.floating-action-container {
    position: absolute;
    bottom: 32px;
    right: 32px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  
  .floating-action-menu {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  
  .floating-action-menu-row {
    display: flex;
    flex-direction: row;
  }