.fab-menu-item-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    align-items: center;
    animation: fadeIn 1.5s ease;
  
    .label {
      display: flex;
      height: fit-content;
      padding: 8px 16px 8px 16px;
      background-color: #f8f8f8;
      color: #0f0f0f;
      margin-right: 8px;
      border-radius: 4px;
      border-width: 1px;
      font-weight: 500;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.fab-menu-item-container-selected {
    background-color: #f7f2f2;
    border-radius: 50%;
    border: #f8f8f8;
    padding: 1%;
  }
  
  .fab-menu-item-container-horizontal {
    margin-bottom: 0px;
    margin-right: 16px;
  }