@import "../../theme/theme.scss";

.fab-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: $mainWhite;
  cursor: pointer;
  position: relative;;

  .fab-active {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    height: 68px;
    width: 68px;
    background-color: none;
    z-index: -1;
    border-radius: 35px;
    border-width: 2px;
    border-color: $mainWhite;
    border-style: solid;
  }
}

