.fab-card-container {
    display: flex;
    flex-direction: column;
    width: 430px;
    background-color: #f8f8f8;
    padding: 24px 16px 24px 16px;
    border-radius: 8px;
    box-shadow: -2px 4px 16px 0px #00000029;
    margin-bottom: 16px;
  
    .heading {
      color: #4d4d4d;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      padding-left: 32px;
      padding-right: 32px;
      padding-bottom: 16px;
      border-bottom: 2px solid #cccccc;
      margin-bottom: 16px;
    }
  
    .content {
      display: flex;
      flex-direction: column;
    }
  }